export(ANEVA_DOT)
export(get_r0)
importFrom("graphics", "abline")
importFrom("stats", "dnorm", "integrate", "median", "p.adjust",
             "quantile")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
